/*=====================FONTS======================*/
@font-face {
	font-family: 'MyriadPro-Cond';
	src: url('../fonts/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro-Cond/MyriadPro-Cond.otf')  format('opentype'),
		 url('../fonts/MyriadPro-Cond/MyriadPro-Cond.woff') format('woff'),
		 url('../fonts/MyriadPro-Cond/MyriadPro-Cond.ttf')  format('truetype'),
		 url('../fonts/MyriadPro-Cond/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-BoldCond';
		 src: url('../fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.otf')  format('opentype'),
	     url('../fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.woff') format('woff'),
	     url('../fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.ttf')  format('truetype'),
	     url('../fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinDisplayPro-Medium';
	src: url('../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium.otf')  format('opentype'),
		 url('../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium.woff') format('woff'),
		 url('../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium.ttf')  format('truetype'),
		 url('../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium.svg#PFDinDisplayPro-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinDisplayPro-Light';
	src: url('../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light.woff') format('woff'),
		url('../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light.ttf')  format('truetype'),
		url('../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light.svg#PFDinDisplayPro-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('../fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro-Bold/MyriadPro-Bold.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
	     url('../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf')  format('truetype'),
	     url('../fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}