/*=====================VARIABLES======================*/

$fonts: 'MyriadPro-Cond',arial,sans-serif;

$main_font_color: #fff;
$main_purple_color: #c268c0;
$main_violette_color: #7773c6;
$main_gray_color: #808080;