@media (min-width: 1240px) {
  .actions .container {
    width: 1240px !important;
  }
  .page-bonuses .actions .container {
    width: 1068px !important;
  }
  .actions .block-bonus {
    min-height: 280px !important;
  }
  .actions .block-bonus .block-bonus-left {
    top: 45px !important;
  }
  .actions .block-bonus .block-bonus-right {
    bottom: 30px !important;
  }
}


.bookof {
  background-image: url(../media/images/bg/bg-1.png);
  background-repeat: no-repeat;
  padding: 18px 0 43px 0;
  box-shadow: 2.5px 4.33px 25px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  position: relative;
  margin-bottom: 55px;
}
.bookof .info-spin {
  position: relative;
  margin-left: 94px;
}
.bookof .numb {
  background: linear-gradient(0deg, #ff6600 0%, #ffcc00 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 200px;
  line-height: 164px;
  display: inline-block;
  position: relative;
  top: -5px;
}
.bookof .info-sub-text {

  position: relative;

  margin-left: 18px;

  display: inline-block;

  top: 0px;
}
.bookof .free {
  position: relative;
  top: 0px;
  background: linear-gradient(0deg, #ff6600 0%, #ffcc00 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 100px;
  text-transform: uppercase;
  display: block;
}
.bookof .free::after {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 6px;
  display: block;
  width: 120px;
  height: 2px;
  background-color: #ffcc00;
}
.bookof .sub-text {
  font-size: 48px;
  text-transform: uppercase;
  position: relative;
  left: 4px;
  display: block;
}
.bookof .bonus {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  overflow: visible;
  background-image: url(../media/images/fishka1.png), linear-gradient(0deg, #38088b 0%, #d179ca 100%);
  background-repeat: no-repeat;
  background-position: 22px 252px, 0 0;
}
.bookof .bonus.bonus-ru {

  background-position: 22px 284px, 0 0;
}
.bookof .bonus .text {
  transform: rotate(-90deg);
  width: 250px;
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  top: 93px;
  right: -86px;
}

.bookof .bonus.bonus-ru .text {

  top: 126px;
}

.usl-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  margin-left: 20px;
  position: relative;
  top: -8px;
}
.usl-link:hover {
  text-decoration: none;
  color: #fff;
}
.usl-link:focus {
  text-decoration: none;
  color: #fff;
}

.btn-play-action {
  font-family: 'MyriadPro-Bold',
  arial,
  sans-serif;
  display: inline-block;
  height: 33px;
  width: 124px;
  position: relative;
  margin-top: -3px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  text-decoration: none;
  padding: 11px 0;
  text-align: center;
  margin-right: 10px;
}
.btn-play-action:before {
  content: '';
  width: 124px;
  height: 49px;
  position: absolute;
  top: 50%;
  margin-top: -24.5px;
  left: 0;
  background: url(../media/images/bg/reg-btn.png) center no-repeat;
  background-size: cover;
  z-index: 0;
}
.btn-play-action:hover {
  text-decoration: none;
  opacity: .8;
  color: #fff;
}
.btn-play-action:focus {
  text-decoration: none;
  color: #fff;
}
.btn-play-action span {
  position: relative;
}

.actions {
  padding: 80px 0;
  position: relative;
}
.actions .container .row {
  margin-bottom: 30px;
}
.actions .info-block {
  margin-left: 44px;
}
.actions .info-block2 {
  margin-left: 71px;
}
.actions .ac-wrap .btn-play-wrap {
  text-align: center;
  position: relative;
  top: -17px;
}
.actions .ac-wrap .usl-link {
  font-family: 'MyriadPro-Bold',
  arial,
  sans-serif;
  margin-left: 0;
  display: inline-block;
  text-align: center;
  position: static;
}
.actions .npl {
  padding-left: 0;
}
.actions .npr {
  padding-right: 0;
}
.actions .block-bonus1, .actions .block-bonus2, .actions .block-bonus3, .actions .block-bonus4 {
  background-repeat: no-repeat;
  background-size: cover;
}

.block-bonus-general {
  background-repeat: no-repeat;
  background-size: cover;
}

.actions .block-bonus1 {
  background-image: url(../assets/images/bonuses/promo-1-bg-min.jpg);
}
.actions .block-bonus2 {
  background-image: url(../assets/images/bonuses/promo-2-bg-min.jpg);
}
.actions .block-bonus3 {
  background-image: url(../assets/images/bonuses/promo-3-bg-min.jpg);
}
.actions .block-bonus4 {
  background-image: url(../assets/images/bonuses/promo-4-bg-min.jpg);
}
.actions .block-bonus {
  background-repeat: no-repeat;
  box-shadow: 2.5px 4.33px 25px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  position: relative;
  min-height: 330px;
}

.actions .block-bonus{
  background-repeat: no-repeat;
  background-size: cover;
}



.actions .block-bonus .block-bonus-left {
  position: absolute;
  top: 60px;
  left: 30px;
}
.actions .block-bonus2 .block-bonus-left, .actions .block-bonus4 .block-bonus-left {
  left: auto;
  right: 30px;
}
.actions .block-bonus-image {
  border-radius: 10px;
  overflow: hidden;
}
.actions .block-bonus-image > img {
  max-height: 160px;
}
.actions .block-bonus .block-bonus-right {
  position: absolute;
  bottom: 50px;
  right: 80px;
}
.actions .block-bonus2 .block-bonus-right, .actions .block-bonus4 .block-bonus-right {
  right: auto;
  left: 80px;
}
.actions .block-bonus .block-money {
  background: linear-gradient(0deg, #ff6600 0%, #ffcc00 100%);
  -webkit-background-clip: text;
  color: transparent;
  float: left;
  margin-top: 21px;
}
.actions .block-bonus .block-money .big {
  font-size: 100px;
}
.actions .block-bonus .block-money span {
  font-size: 36px;
  text-transform: uppercase;
}
.actions .block-bonus .number-block {
  float: left;
  position: relative;
  margin-left: 27px;
}
.actions .block-bonus .number-block .number {
  font-size: 100px;
  line-height: 70px;
}
.actions .block-bonus .number-block .lett {
  position: absolute;
  top: 0;
  font-size: 36px;
}
.actions .block-bonus .number-block .descr {
  text-transform: uppercase;
  position: relative;
  font-size: 36px;
}
.actions .block-bonus .number-block .descr::after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 4px;
  background-color: #ffed00;
  width: 30px;
  height: 2px;
}
.actions .block-bonus .number-block .desc-bonus {
  font-size: 100px;
  text-transform: uppercase;
  position: relative;
  top: -10px;
  left: -4px;
}

.cabinet-block.act {
  padding-top: 130px;

}

body .cabinet-block{
  padding-bottom: 130px;
  background-attachment: fixed !important;
}

#uls, #reg-terms {
  background-color: #fff;
  max-width: 900px;
  margin: 0 auto;
  color: #000;
  padding: 50px;
  position: relative;
  border-radius: 10px;
  max-height: 900px;
  overflow-x: auto;
}
#uls h3, #reg-terms h3 {
  text-transform: uppercase;
  font-size: 17px;
  /* margin-top: 0; */
  line-height: 46px;
  margin-bottom: 25px;
}

#uls p, #reg-terms p{
  /* margin-bottom: 25px; */
}

#uls .text, #reg-terms .text {
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  margin-bottom: 25px;
}
#uls .text .num, #reg-terms .text .num {
  position: absolute;
  top: 0;
  left: 0;
  color: #5924a2;
}
#uls h4, #reg-terms h4 {
  color: #5924a2;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: -38px;
}

#uls .parent-list li, #reg-terms .parent-list li {
  position: relative;
  display: block;
}

#uls .parent-list li span, #reg-terms .parent-list li span {
  color: #5924a2;
  left: -40px;
  position: absolute;
}

.mfp-close-btn-in .mfp-close {
  color: #5924a2;
  border: 1px solid #5924a2;
  border-radius: 50%;
}

.mfp-close {
  width: 33px;
  height: 33px;
  line-height: 33px;
  top: 50px;
  right: 50px;
  opacity: 1;
}
.mfp-close:active {
  top: 50px;
  right: 50px;
}
.mfp-close:hover {
  opacity: .6;
}

@media (min-width: 767px) and (max-width: 1080px){
  .pageBonus .actions{
    padding-bottom: 160px;
    /* padding-top: 40px; */
  }
}


/*responsive*/
@media (max-width: 1200px) {
  .actions .info-block {
    margin-left: 10px;
  }

  .actions .block-bonus .block-money .big {
    font-size: 70px;
  }

  .actions .block-bonus .number-block .desc-bonus {
    font-size: 60px;
    left: 8px;
  }
}
@media (max-width: 1024px) {
  .actions .block-bonus {
    min-height: 250px;
  }
  .actions .block-bonus .block-bonus-left {
    top: 25px;
  }
  .actions .block-bonus .block-bonus-right {
    bottom: 23px;
  }
}
@media (max-width: 992px) {

  .block-bonus1 {
    margin-bottom: 0px;
  }

  .actions .block-bonus .block-money .big {
    font-size: 100px;
  }

  .bookof .numb {
    font-size: 150px;
  }

  .bookof .free {
    font-size: 65px;
    /* top: -45px; */
  }

  .bookof .sub-text {
    /* left: -112px; */
  }

  .bookof .free::after {
    right: 4px;
    width: 100px;
  }

  .bookof .bonus .text {
    top: 113px;
  }

  .bookof .bonus {
    background-position: 22px 270px, 0 0;
  }

  .actions .container .row {
    margin-bottom: 15px;
  }

  .actions .block-bonus .block-bonus-left, .actions .block-bonus2 .block-bonus-right, .actions .block-bonus4 .block-bonus-right {
    left: 10px;
  }

  .actions .block-bonus .block-bonus-right, .actions .block-bonus2 .block-bonus-left, .actions .block-bonus4 .block-bonus-left {
    right: 10px;
  }

  .actions .block-bonus2 .block-bonus-right, .actions .block-bonus4 .block-bonus-right {
    right: auto;
  }

  .actions .block-bonus2 .block-bonus-left, .actions .block-bonus4 .block-bonus-left {
    left: auto;
  }
}
@media (min-width: 768px) {
  .actions .container .row .col-sm-6 {
    width: 50%;
    float: left;
  }
}
@media (max-width: 768px) {
  .actions {
    margin-left: -5px;
    padding-bottom: 180px;
  }

  .actions .npr {
    padding: 0;
  }
  


  .actions .npl {
    padding: 0;
    margin-bottom: 10px;
  }
  .actions .container .row {
    margin-bottom: 10px;
  }
  .actions .block-bonus {
    min-height: 210px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .actions .block-bonus .block-bonus-left {
    top: 24px;
    left: 10px;
  }
  .actions .block-bonus .block-bonus-right {
    bottom: 29px;
    right: 10px;
  }
  .actions .block-bonus2 .block-bonus-left, .actions .block-bonus4 .block-bonus-left {
    right: 10px;
    left: auto;
  }
  .actions .block-bonus2 .block-bonus-right, .actions .block-bonus4 .block-bonus-right {
    left: 10px;
    right: auto;
  }

}
@media (max-width: 570px) {
  .bookof .bonus {
    width: 40px;
    background-image: linear-gradient(0deg, #38088b 0%, #d179ca 100%);
    background-position: 0 0 !important;
  }

  .bookof .bonus.bonus-ru .text {
    top: 160px;
    right: -106px;
  }

  .bookof .bonus .text {
    right: -105px;
    top: 140px;
  }

  .bookof .numb {
    font-size: 120px;
  }

  .bookof .free {
    font-size: 50px;
  }

  .bookof .sub-text {
    font-size: 40px;
    /* left: -86px; */
  }

  .bookof .free::after {
    width: 80px;
    right: 0;
    bottom: 0px;
  }

  #uls h3, #reg-terms h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }



  .actions {
    margin-left: 0;
  }

  .actions .container .row {
    margin-bottom: 0;
  }

  .actions .block-bonus {
    min-height: 250px;
    margin-bottom: 15px;
  }

  .actions .block-bonus .block-bonus-left, .actions .block-bonus .block-bonus-right {
    position: static;
    margin: 20px 0 0 20px;
  }

  .actions .block-bonus-image {
    display: inline-block;
  }
}
@media (max-width: 500px) {
  .actions .block-bonus .block-money .big {
    font-size: 75px;
  }
  /* .mfp-close {
    right: 30px;
  } */

  .actions .block-bonus .number-block .number {
    font-size: 70px;
  }

  .actions .block-bonus .number-block .lett {
    font-size: 28px;
    top: 9px;
  }

  .actions .block-bonus .number-block .descr {
    font-size: 26px;
  }

  .actions .block-bonus .number-block .descr::after {
    top: 2px;
    left: 0;
    width: 15px;
    height: 1px;
  }

  .actions .block-bonus .number-block .desc-bonus {
    font-size: 40px;
    left: 0;
  }

  .actions .block-bonus .number-block {
    margin-left: 10px;
  }

  .actions .block-bonus {
    background-position: 100% center;
  }

  .bookof {
    background-position: 25% center;
    padding: 18px 0 33px 0;
  }

  .actions .block-bonus {
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  .bookof .info-spin {
    margin-left: 20px;
  }

  .bookof .numb {
    font-size: 100px;
  }

  .bookof .free {
    font-size: 40px;
    /* margin-left: 5px; */
    /* top: -36px; */
  }

  .bookof .sub-text {
    font-size: 35px;
    left: 1px;
  }

  .bookof .free::after {
    width: 60px;
    bottom: 0px;
    left: 3px;
  }

    body .cabinet-block.act {
        padding: 120px 5px 0;
    }
    .actions .block-bonus {
        background-position: 61% center;
        min-height: 195px;
        background-size: 120%;
    }
    .actions .block-bonus-image {
        width: 95px;
    }
    .actions .block-bonus2 {
        background-image: url(../assets/images/bonuses/promo-2-bg-mirror-min.png);
    }
}
@media (max-width: 380px) {
  .actions .block-bonus .number-block {
    margin-left: 32%;
  }

  .actions .block-bonus .block-money {
    margin-left: 17%;
  }

  #uls h3, #reg-terms h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .mfp-close {
    right: 20px;
  }

  .mfp-close:active {
    right: 20px;
  }

  #uls h4, #reg-terms h4 {
    font-size: 20px;
  }

  #uls, #reg-terms {
    padding: 50px 10px;
  }
}
@media (max-width: 320px) {

}
.usl-link:focus{
  outline: none;
}