/* langbox */
.header .header-left {
    position: absolute;
    text-align: left;
}
.header .header-left .logo-block {
    position: static;
    display: inline-block;
    /*margin-left: 15px;*/
    vertical-align: middle;
}
.langbox {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: 88px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
    z-index: 9999;
    letter-spacing: 1px;
}
.langbox li {
    margin: 0 0 0 0;
    border-radius: 40px;
    cursor: pointer;
    background: #481d66 !important;
    display: block;
}
.balancebox .balancebox-dropdown-title {
    padding: 5px 10px;
}
.langbox > li {
    background: #381351 !important;
}
.langbox li a {
    position: relative;
    /* padding: 6px 35px 6px 10px; */
    text-decoration: none;
    color: inherit;
}
.langbox > li > a {
     max-height: 41px;
    padding: 11px 32px 10px 10px;
}
.langbox > li > a:after, .balancebox > li > .balancebox-title:after {
    content: '';
    background: url(../images/languages/carpet.png) no-repeat scroll 0 0 transparent;
    width: 10px;
    height: 6px;
    display: inline-block;
    position: absolute;
    top: 19px;
    right: 17px;
}
.langbox > li > a.is-open:after, .balancebox > li > a.is-open + .balancebox-title:after {
    background-position: left bottom;
}
.langbox li:last-child {
    margin-right: 0; }
.langbox li a {
    display: block; }
.langbox li img {
    display: inline-block;
    /* vertical-align: middle; */
    width: 20px;
    margin-right: 1px;
}
.langbox .langbox-dropdown, .balancebox .balancebox-dropdown {
    display: none;
    background: #481d66;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 51px;
    width: 85px;
    padding-left: 0;
    text-align: left;
}
.balancebox .balancebox-dropdown {
    width: auto;
}
.langbox .langbox-dropdown.is-open, .balancebox .balancebox-dropdown.is-open {
    display: block;
}
.langbox .langbox-dropdown li a, .balancebox .balancebox-dropdown li a {
    padding: 7px 10px 7px 10px;
    display: block;
}
.langbox li span {
    vertical-align: top;
    text-transform: uppercase;
    margin-top: 4px;
    display: inline-block;
}
.langbox li a.active, .langbox .langbox-dropdown li a:hover, .balancebox li a.active, .balancebox .balancebox-dropdown li a:hover {
    -webkit-box-shadow: 0 0 0 2px #f6cc1a;
    -moz-box-shadow: 0 0 0 2px #f6cc1a;
    box-shadow: 0 0 0 2px #f6cc1a;
    box-shadow: none !important;
    background: #381351;
}

body .mobile-menu .popup-entry .language-nav img {
    max-width: 60px;
    vertical-align: top;
}

@media (max-width: 1080px) {
    body .mobile-menu .popup-entry .block-heading .title {
        letter-spacing: 70px;
    }
}

@media (max-width: 991px) {
    body .mobile-menu .popup-entry .language-nav img {
        max-width: 30px;
    }
}
/* 
@media (max-width: 767px) {
    body .mobile-menu .popup-entry .logo-container {
        width: 100%;
        max-width: 100% !important;
    }
    body .mobile-menu .popup-entry .logo-container img {
        max-width: 200px;
    }
    body .mobile-menu .popup-entry .close-icon {
        z-index: 9999;
    }
    body .mobile-menu .popup-entry .language-nav img {
        max-width: 20px;
    }
} */