.toggle.btn {
    /* margin-bottom: 10px; */
    margin-left: auto;
}

.table-toggle-inner {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.elementReadOnly {
    pointer-events: none;
}

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none;
}

.game-list .dropdown-menu {
    height: 100px;
}