.toggle.btn {
    /* margin-bottom: 10px; */
    margin-left: auto;
}

.table-toggle-inner {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.elementReadOnly {
    pointer-events: none;
}